/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.logo{

  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 440px;
  max-width: 600px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
}



body {

  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  background-image: url(./images/background\ image.jpg);
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}


.header {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  margin-top: -210px;
  margin-bottom: 10px;
  margin-left: 30px;
  height: 50px;
  color: white;
}

.form1 {
  text-align: center;
  margin-top: 90px;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  
}

.flex-container{
  display: grid;
  width: 700px;
  grid-template-columns: 60% 5% 5%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 415px;
  margin-right: 900px;
  
}

@media only screen and (max-width: 20px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 2rex;
  }
}

.todo-input{

  width: 350px;
}

.todolist1 {
  font-style: bold;
  font-size: 20px;

  padding: 20px;
  letter-spacing: 0.3rem;
  background-color: whitesmoke;
  backdrop-filter: blur(40px);
}
